<div class='container'>
  <h1>About</h1>
</div>
<div class='container'>
  <h2>Welcome to SumGoodStuff Department Store</h2>
</div>
<div class='container'>
  <p>Founded November 2019</p>
  <p>We have lots of stuff</p>
  <br />
  <p>CEO: Abigail Mitchell</p>
</div>
